<img src="http://iwarn.herokuapp.com/assets/email_header.png" />
<h3 style="color: #888888;font-size: 24px; font-family: sans-serif;">hi <%= @name %>!</h3>
<p style="margin-top: 16px; color: #888888; font-size: 18px; font-family: sans-serif;">
  You were successfully added as a user on iWarn, let's rock dude!
</p>
<p style="margin-top: 14px; color: #888888; font-size: 18px; font-family: sans-serif;">
   We have assigned a temporal password for you: <b><%= @password %></b>
</p>